@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <h1 class="display-4">Witaj w aplikacji CookiesApp!</h1>
    <p class="lead">Aplikacja ta służy do zarządzania bazą ciastek i producentów.</p>
    <p class="lead">Aplikacja pozwala na szybkie sprawdzenie listy alegenów znajdujących się w ciastkach.</p>
    <p class="lead">Obecnie w bazie znajduje się @ViewBag.CookiesCount ciastek oraz @ViewBag.ManufacturersCount producentów.</p>
    <img src="~/images/coffe.png" alt="HOME" style="width: 100px; margin: auto; display: block" />
</div>