<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CookiesApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body id="custom_body_2">
<header id="custom_header_2">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index" id="logo_custom_2">CookiesApp</a>
    <nav class="navbar navbar-expand-sm align-content-center">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 flex-column">
                    <li class="nav-item">
                        <a class="nav-link link-light" asp-controller="Cookie" asp-action="Index">Ciastka</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" asp-controller="Cookie" asp-action="CookieAllergens">Sprawdź alergeny</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" asp-controller="Manufacturer" asp-action="Index">Producenci</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container" id="custom_container_2">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>